body {
    font-family: 'Asap', sans-serif;
}

h1 {
    font-size: 50px;
}

.mdAbirAlaheColor {
    color: darkcyan;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 70%;
}

.link-buttton {
    text-decoration: none;
    background-image: linear-gradient(darkcyan, rgb(9, 189, 189));
    color: white;
    font-weight: 700px;
    padding: 10px 40px;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/nutrition.png);
    background-repeat: no-repeat;
    background-size: 4%;
}